<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All Person</h2>
<a href="/add">Add Person</a>
<br>
<table>
    <tr th:each="msg : ${messages}">
        <td th:text="${msg}"></td>
        <td><a th:href="@{/update/{id}(id=${msg.id})}" style="margin-left: 10px;">Update</a></td>
        <td><a th:href="@{/delete/{id}(id=${msg.id})}" style="margin-left: 10px;">Delete</a></td>
    </tr>
</table>

</body>
</html>